Google_Search_workflow.json
{
  "name": "Google Search workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1_pvh7ZTnWDI92EBWPq1SziKAjGcfhEFR9RQ_Mt2H0Nk",
          "mode": "list",
          "cachedResultName": "N8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_pvh7ZTnWDI92EBWPq1SziKAjGcfhEFR9RQ_Mt2H0Nk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Get words",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_pvh7ZTnWDI92EBWPq1SziKAjGcfhEFR9RQ_Mt2H0Nk/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c9b548d7-68d3-4977-8bea-b36aa4b6e357",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pauXXz4NdcrB2I9e",
          "name": "Google Sheets Trigger account Connection"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "waitForFinish",
              "value": "60"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ],
      "id": "547b0279-4639-4909-94ca-0cbb295ed451",
      "name": "get Actor run",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zqqbT9MvJgSGMG1z",
          "name": "Header Auth Apify"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nFJndFXA5zjCTuudP/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"forceExactMatch\": false,\n    \"includeIcons\": false,\n    \"includeUnfilteredResults\": false,\n    \"maxPagesPerQuery\": 1,\n    \"mobileResults\": false,\n    \"queries\": \"{{ $json.Keyword }}\",\n    \"resultsPerPage\": {{ $json.count }},\n    \"saveHtml\": false,\n    \"saveHtmlToKeyValueStore\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "7ead6971-5bd7-4ad3-abfe-8c45d616a3fc",
      "name": "run Actor",
      "credentials": {
        "httpBearerAuth": {
          "id": "cIfvqB3isupALhxd",
          "name": "Apify Test"
        },
        "httpHeaderAuth": {
          "id": "zqqbT9MvJgSGMG1z",
          "name": "Header Auth Apify"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "f92465ec-7832-4275-a7de-7b37b48ba26f",
      "name": "get Dataset",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zqqbT9MvJgSGMG1z",
          "name": "Header Auth Apify"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "organicResults",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "487533c9-d2da-41c9-9db8-e42ba0b0d230",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "id": "1538c3b4-50c1-4069-bb6f-ae7cc8d26a52",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        2000,
        -100
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "a0b487bb-b49e-4fa1-9279-d8077a185154",
      "name": "Get the website data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1100,
        0
      ],
      "retryOnFail": true,
      "typeVersion": 4.1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80a8a8ec-9ac7-4545-beab-390732218548",
              "name": "Email",
              "type": "array",
              "value": "={{$json.data.match(/(?:[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,})/g)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f61f33f7-cc5f-4b50-9d9d-03ec4d68a528",
      "name": "Extract the emails found",
      "type": "n8n-nodes-base.set",
      "position": [
        1320,
        0
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "701ead8f-02ba-4689-8054-9e40d9b9f770",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Email }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "e5383f36-baca-40ce-b5f0-51333cf450c9",
      "name": "If contains email",
      "type": "n8n-nodes-base.if",
      "position": [
        1780,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "Email",
        "options": {}
      },
      "id": "4a0beeb4-69e7-4680-be2f-26aa83e70f47",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1560,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_pvh7ZTnWDI92EBWPq1SziKAjGcfhEFR9RQ_Mt2H0Nk",
          "mode": "list",
          "cachedResultName": "N8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_pvh7ZTnWDI92EBWPq1SziKAjGcfhEFR9RQ_Mt2H0Nk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 237402448,
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_pvh7ZTnWDI92EBWPq1SziKAjGcfhEFR9RQ_Mt2H0Nk/edit#gid=237402448"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.Email }}",
            "title": "={{ $('Split Out').item.json.title }}",
            "description": "={{ $('Split Out').item.json.description }}",
            "url": "={{ $('Split Out').item.json.displayedUrl }}",
            "Key": "={{ $('Google Sheets Trigger').item.json.Keyword }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Key",
              "displayName": "Key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2220,
        -100
      ],
      "id": "f2ca42a6-4125-4296-9c62-89c73817fa65",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "beJOg43bTcLK44kv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "run Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run Actor": {
      "main": [
        [
          {
            "node": "get Actor run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Actor run": {
      "main": [
        [
          {
            "node": "get Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Dataset": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get the website data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If contains email": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the website data": {
      "main": [
        [
          {
            "node": "Extract the emails found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the emails found": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "If contains email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f32fa4d0-e8a8-4590-b4e3-47ad3636217c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d76f7291c71eb8341fe206c999772792693890c8262cf1c99a2377d6083025d"
  },
  "id": "NA0Q7W4Xi6cSVMWK",
  "tags": []
}